<!DOCTYPE HTML>
<html>
  <head>
    <title>View Revisi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
@font-face {
    font-family: "bebasbold";
    src: url("BebasNeue-Bold.otf") format("opentype");
}

@font-face {
	font-family: "bebasthin";
    src: url("BebasNeue-Thin.otf") format("opentype");
}


#bebasbold {
font-family: bebasbold;
}

#bebasthin {
font-family: bebasthin;
}
iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

    </style>
  </head>
  <body>


<iframe src="MAKALAH PENGABDIAN FIX.pdf" border=0></iframe>

 
  </body>
</html>
  </body>
</html>
